[workspace]
authors = ["Mitchell R. Vollger <mrvollger@gmail.com>"]
channels = ["conda-forge", "bioconda"]
description = "Snakemake workflow for hifiasm genome assembly with Hi-C and ultra-long read support"
name = "asm-smk"
platforms = ["osx-64", "linux-64"]
version = "0.0.1"

[tasks]
fmt = "ruff format . && taplo format pixi.toml && snakefmt workflow/"
test_ref = { cmd = "test -f test/test.fa || (wget -O - https://github.com/chhylp123/hifiasm/releases/download/v0.7/chr11-2M.fa.gz | gunzip > test/test.fa && samtools faidx test/test.fa)" }
test_hic = { cmd = "test -f test/hic_r1.fq.gz || (wgsim -1 150 -2 150 -N 50000 -e 0.01 -S 42 test/test.fa test/hic_r1.fq test/hic_r2.fq && gzip test/hic_r1.fq test/hic_r2.fq)", depends-on = ["test_ref"] }
test_data = { depends-on = ["test_ref", "test_hic"] }
test = { cmd = [
    "snakemake",
    "--notemp",
    "--configfile",
    "test/test.yaml",
], depends-on = [
    "test_data",
] }
clean = { cmd = [
    "snakemake",
    "--delete-all-output",
    "--configfile",
    "test/test.yaml",
] }
snakemake = { cmd = "cd $INIT_CWD && snakemake -s $PIXI_PROJECT_ROOT/workflow/Snakefile" }


[dependencies]
conda = "*"
snakemake = "==9.15"
snakefmt = "*"
ruff = "*"
taplo = "*"
snakemake-executor-plugin-slurm = "*"
wgsim = "*"
htslib = "*"
